<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="macros::head"/>
<body>
<nav th:replace="macros::navbar"/>

<div class="container mt-5">

<div>List of users</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Role</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <div th:each="user : ${users}">
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${#strings.setJoin(user.roles, ', ')}"></td>
        <td><a th:href="'/user/' + ${user.id} ">Edit</a></td>

    </tr>
    </div>
    </tbody>
</table>
</div>

<script th:replace="macros::jsend"/>
</body>
</html>