<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="macros::head"/>
<body>
<nav th:replace="macros::navbar"/>
<div class="container mt-5">

<div th:replace="macros::securityFields('/login')"/>

<div th:if="${message} != null" style="color:red" th:text="${message}"/>

<div th:if="${param.error}" style="color:red">
    Invalid username and password.
</div>

<div th:if="${param.logout}" style="color:red">
    You have been logged out.
</div>

</div>

<script th:replace="macros::jsend"/>

</body>
</html>