<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="macros::head"/>
<body>
<nav th:replace="macros::navbar"/>
<div class="container mt-5">

    <form class="row row-cols-lg-auto g-3 align-items-center mb-5">
        <div class="col-12">
            <input name="filter" type="text" class="form-control" placeholder="Search by tag" th:value="${filter}">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>


    <a class="btn btn-primary mb-4" data-bs-toggle="collapse" href="#add" role="button" aria-expanded="false" aria-controls="collapseAdd">
        Add new message
    </a>
    <div>
        <form th:method="post" enctype="multipart/form-data" th:class="collapse" id="add" >
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div th:if="${tagError} == null" class="col-12">
                    <input  type="text" name="tag" placeholder="Enter the title" class="form-control"/>
                </div>

                <div th:if="${tagError} != null" class="col-12">
                    <input type="text" name="tag" placeholder="Enter the title"class="form-control is-invalid"/>
                    <div  class="invalid-feedback" th:text="${tagError}"/>
                </div>

                <div th:if="${textError} == null" class="col-12">
                    <input type="text" name="text" placeholder="Enter the text" class="form-control"/>
                </div>

                <div th:if="${textError} != null" class="col-12">
                    <input type="text" name="text" placeholder="Enter the text" class="form-control is-invalid"/>
                    <div  class="invalid-feedback" th:text="${textError}"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Send</button>
        </form>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div th:each="message : ${messages}">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${message.getTag}"></h5>
                        <p class="card-text" th:text="${message.getText}"></p>
                    </div>
                    <div class="card-footer text-muted">
                        <a th:text="${message.getAuthorName()}" th:href="'/user-messages/' + ${message.author.username}"/>
                        <a class="btn btn-primary" th:if="${message.getAuthorName()} == ${#httpServletRequest.remoteUser}"
                           th:href="'/user-messages/' + ${message.author.username} + '?message=' + ${message.id}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <script th:replace="macros::jsend"/>

</body>
</html>